header {
    background: #1E2E3D;
}
.header__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
}
.header__logo {
    padding-right: 60px;
}
.header__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
.header__item {
    padding-right: 60px;
}
.header__link {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #FEFEFE;
    text-decoration: none;
}
.header__link:hover {
    transition: 0.3s ease;
    color: #EECE21;
}
.active {
    transition: 0.3s ease;
    color: #EECE21;
}
.search__form {
    width: 250px;
    height: 42px;
    padding-left: 40px;
    background: #FEFEFE;
    outline: none;
    border: none;
    border-radius: 21px;
}

.search__form {
    background-image: url("../../img/search.svg");
    background-position:  left calc(2px + 10px) center;
    background-repeat: no-repeat;
    background-size: 18px 18px;
}
.header__link-phone {
    text-decoration: none;
    color: #EECE21;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    padding-left: 27px;
    margin-right: 25px;
    color: #EECE21;
}
.header__button {
    border: none;
    outline: none;
    padding: 11.8px 12.1px;
    border-radius: 50%;
    background: #EECE21;
    color: #1E2E3D;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    margin-right: 25px;
    text-transform: uppercase;
    color: #1E2E3D;
}
.header__img-user {
    width: 42px;
    height: 42px;
}
.header__bottom-mobile {
    display: flex;
    justify-content: space-between;
}
.header__button-toggler {
    display: none;
}

@media screen and (max-width: 1415px) {
    .header-logo {
        padding-right: 40px;
    }
    .header__item {
        padding-right: 40px;
    }
}
.header__nav-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1335px)  {
    .header__container {
        padding-top: 23px;
        padding-bottom: 23px;
    }
    .header__bottom {
        display: flex;
        justify-content: space-between;
    }
  
    .header__button-toggler {
        margin-left: 25px;
    }
    .search__form {
        width: 200px;
        height: 38px;
    }
    
    .header__button-toggler {
        display: block;
        width: 25px;
        height: 22px;
        padding: 0;
        z-index: 25;
        border: none;
        background-color: transparent;
        background-image: url("../../img/meu-toggler.svg");
        background-position: left center;
        background-repeat: no-repeat;
        background-size: auto;  
        transition: background-position 0.2s ease;
    }
    .btn__fixed {
        top: 70px;
        right: 140px;
        width: 25px;
        height: 22px;
        position: fixed;
        z-index: 28;
    }
    .header__bottom-lists {
        display: none;
    }
    .header__nav-wrapper {
        display: none;
    }
    .header--open .header__button-toggler {
        top: 40px;
        right: 15px;
        background-position: right center;
    }
    .header--open .header__nav-wrapper {
        padding-top: 50px;
        max-width: 800px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        z-index: 854949;
        top: 0;
        left: 0;
        width: 100%;
        position: fixed;
    }
    .header__item {
        padding-left: 0;
        padding-right: 0;
    }
    .header--open .header__bottom-lists {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        padding-top: 90px;
        padding-bottom: 26px;
        position: absolute;
        top: 0px;
        overflow: hidden;
        bottom: 0;
        left: 0;
        width: 100%;  
        height: calc(100vh + 63px);
        background-color: #1e0441;
        top: 0;
        left: 0;
        width: 100%;
        position: fixed;
        z-index: 20;
    }
    .header__logo {
        display: block;
    }
    
    .header--nojs .header__bottom-mobile {
        margin-bottom: 20px;
    }
    .header--nojs .header__nav {
        margin-bottom: 20px;
    }
    .header--nojs {
        position: static;
    }
    .header--nojs .header__button-toggler {
        display: none;
    }
    .header__list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .header__item {
        padding-top: 68px;
     
    }
    .header__link {
        display: block;
        font-weight: 500;
        font-size: 18px;
        line-height: 20px;
        text-transform: uppercase;
        color: #ffd600;
        &:hover {
            background-color: #ffd600;
            color: #164a86;
        }
    }
    .header-logo {
        padding: 0;
        z-index: 565614;
        margin-bottom: 20px;
    }
    .header--nojs .header__bottom-lists {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        position: static;
    }
}
@media screen and (max-width: 850px)  {
    .header--open .header__button-toggler {
        top: 40px;
        right: 15px;
        background-position: right center;
    }
    .header--open .header__nav-wrapper {
        padding-top: 50px;
        max-width: 600px;
    }
}
@media screen and (max-width: 650px)  {
    .header--open .header__nav-wrapper {
        padding-top: 50px;
        max-width: 400px;
    }
}
@media screen and (max-width: 500px)  {
    .header--open .header__nav-wrapper {
        padding-top: 50px;
        max-width: 350px;
    }
}
@media screen and (max-width: 450px)  {
    .header--open .header__nav-wrapper {
        padding-top: 50px;
        max-width: 300px;
    }
    .form__search {
        display: none;
    }
}
@media screen and (max-width: 400px)  {
    .header--open .header__nav-wrapper {
        padding-top: 50px;
        max-width: 270px;
    }
    .header--open .header__button-toggler {
        top: 30px;
        right: 15px;
        background-position: right center;
    }
}